{% extends 'base.html' %}


{% block title %}
    {{ item.name }}
{% endblock title %}
    

{% block content %}
    
<div class="card mb-3" style="height: 50vh;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ item.image.url }}" class="img-fluid rounded-start" alt="..." width="300" height="200">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text"><small class="text-body-secondary">Price:  {{ item.price }}</small></p>
          <button class="btn" role="btn">Buy</button>
          <button class="btn" role="btn">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <h1>Related Items</h1>
  <div class="card-group mx-5 my-5">
    
    {% for item in related_items %}
        <a href="{% url 'item:detail' item.id %}" class="card text-decoration-none hover">
        <img src="{{ item.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.Name}}</h5>
            <h6 class="card-title">Price: {{ item.price }}</h6>
            
        </div>
        </a>
    {% endfor %}    
    </div>

{% endblock content %}
    